In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_oshikiri = pd.read_csv("../submit_oshikiri_best.csv")
df_watanabe = pd.read_csv('../../../../data/submit_watanabe.csv')
df_taniguchi = pd.read_csv('../../../../data/submit_taniguchi.csv')
df_kawai = pd.read_csv('../../../../data/submit_kawai.csv')

In [15]:
df_tmp = df_oshikiri.copy()
df_tmp['w'] = df_watanabe.target
df_tmp['k'] = df_kawai.target
df_tmp['t'] = df_taniguchi.target
df_tmp.rename(columns={'target':'o'},inplace=True)
df_tmp

                card_id         o         w         k         t
0       C_ID_0ab67a22ab -3.631727 -3.610856 -3.753656 -3.592624
1       C_ID_130fd0cbdd -0.309718 -0.363256 -0.298993 -0.344256
2       C_ID_b709037bc5 -1.291783 -1.204877 -1.268156 -1.309667
3       C_ID_d27d835a9f -0.158116 -0.163593 -0.137947 -0.171135
4       C_ID_2b5e3df5c2 -1.472989 -1.523819 -1.485385 -1.487122
...                 ...       ...       ...       ...       ...
123618  C_ID_7a239d2eda  0.894454  0.900098  0.880405  0.869872
123619  C_ID_75ace375ae -0.459042 -0.461746 -0.464037 -0.450847
123620  C_ID_21d56d950c  0.845202  0.867877  0.817525  0.881074
123621  C_ID_6c46fc5a9d -4.245847 -4.291674 -4.114940 -4.207530
123622  C_ID_87e7979a5f  0.145865  0.152181  0.145603  0.146806

[123623 rows x 5 columns]

In [16]:
df_tmp['all_mean'] = df_tmp[['o', 'k', 'w', 't']].mean(axis=1)
df_tmp['all_median'] = df_tmp[['o', 'k', 'w','t']].median(axis=1)
df_tmp

,card_id,o,w,k,t,all_mean,all_median
0,C_ID_0ab67a22ab,-3.631727,-3.610856,-3.753656,-3.592624,-3.647216,-3.621292
1,C_ID_130fd0cbdd,-0.309718,-0.363256,-0.298993,-0.344256,-0.329055,-0.326987
2,C_ID_b709037bc5,-1.291783,-1.204877,-1.268156,-1.309667,-1.268621,-1.279969
3,C_ID_d27d835a9f,-0.158116,-0.163593,-0.137947,-0.171135,-0.157698,-0.160855
4,C_ID_2b5e3df5c2,-1.472989,-1.523819,-1.485385,-1.487122,-1.492329,-1.486254
...,...,...,...,...,...,...,...
123618,C_ID_7a239d2eda,0.894454,0.900098,0.880405,0.869872,0.886207,0.887430
123619,C_ID_75ace375ae,-0.459042,-0.461746,-0.464037,-0.450847,-0.458918,-0.460394
123620,C_ID_21d56d950c,0.845202,0.867877,0.817525,0.881074,0.852920,0.856540
123621,C_ID_6c46fc5a9d,-4.245847,-4.291674,-4.114940,-4.207530,-4.214998,-4.226688
123622,C_ID_87e7979a5f,0.145865,0.152181,0.145603,0.146806,0.147614,0.146335

In [17]:
df_tmp['owk_mean'] = df_tmp[['o', 'w', 'k']].mean(axis=1)
df_tmp['owt_mean'] = df_tmp[['o', 'w', 't']].mean(axis=1)
df_tmp['okt_mean'] = df_tmp[['o', 'k', 't']].mean(axis=1)
df_tmp['wkt_mean'] = df_tmp[['w', 'k', 't']].mean(axis=1)

df_tmp['owk_median'] = df_tmp[['o', 'w', 'k']].median(axis=1)
df_tmp['owt_median'] = df_tmp[['o', 'w', 't']].median(axis=1)
df_tmp['okt_median'] = df_tmp[['o', 'k', 't']].median(axis=1)
df_tmp['wkt_median'] = df_tmp[['w', 'k', 't']].median(axis=1)

df_tmp['ow_mean'] = df_tmp[['o', 'w']].mean(axis=1)
df_tmp['ok_mean'] = df_tmp[['o', 'k']].mean(axis=1)
df_tmp['ot_mean'] = df_tmp[['o', 't']].mean(axis=1)
df_tmp['wk_mean'] = df_tmp[['w', 'k']].mean(axis=1)
df_tmp['wt_mean'] = df_tmp[['w', 't']].mean(axis=1)
df_tmp['kt_mean'] = df_tmp[['k', 't']].mean(axis=1)

In [18]:
df_tmp

,card_id,o,w,k,t,all_mean,all_median,owk_mean,owt_mean,okt_mean,...,owk_median,owt_median,okt_median,wkt_median,ow_mean,ok_mean,ot_mean,wk_mean,wt_mean,kt_mean
0,C_ID_0ab67a22ab,-3.631727,-3.610856,-3.753656,-3.592624,-3.647216,-3.621292,-3.665413,-3.611736,-3.659336,...,-3.631727,-3.610856,-3.631727,-3.610856,-3.621292,-3.692691,-3.612176,-3.682256,-3.601740,-3.673140
1,C_ID_130fd0cbdd,-0.309718,-0.363256,-0.298993,-0.344256,-0.329055,-0.326987,-0.323989,-0.339076,-0.317655,...,-0.309718,-0.344256,-0.309718,-0.344256,-0.336487,-0.304355,-0.326987,-0.331124,-0.353756,-0.321624
2,C_ID_b709037bc5,-1.291783,-1.204877,-1.268156,-1.309667,-1.268621,-1.279969,-1.254939,-1.268776,-1.289869,...,-1.268156,-1.291783,-1.291783,-1.268156,-1.248330,-1.279969,-1.300725,-1.236516,-1.257272,-1.288911
3,C_ID_d27d835a9f,-0.158116,-0.163593,-0.137947,-0.171135,-0.157698,-0.160855,-0.153219,-0.164281,-0.155733,...,-0.158116,-0.163593,-0.158116,-0.163593,-0.160855,-0.148032,-0.164626,-0.150770,-0.167364,-0.154541
4,C_ID_2b5e3df5c2,-1.472989,-1.523819,-1.485385,-1.487122,-1.492329,-1.486254,-1.494065,-1.494644,-1.481832,...,-1.485385,-1.487122,-1.485385,-1.487122,-1.498404,-1.479187,-1.480056,-1.504602,-1.505471,-1.486254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123618,C_ID_7a239d2eda,0.894454,0.900098,0.880405,0.869872,0.886207,0.887430,0.891653,0.888141,0.881577,...,0.894454,0.894454,0.880405,0.880405,0.897276,0.887430,0.882163,0.890252,0.884985,0.875139
123619,C_ID_75ace375ae,-0.459042,-0.461746,-0.464037,-0.450847,-0.458918,-0.460394,-0.461608,-0.457212,-0.457975,...,-0.461746,-0.459042,-0.459042,-0.461746,-0.460394,-0.461540,-0.454944,-0.462892,-0.456296,-0.457442
123620,C_ID_21d56d950c,0.845202,0.867877,0.817525,0.881074,0.852920,0.856540,0.843535,0.864718,0.847934,...,0.845202,0.867877,0.845202,0.867877,0.856540,0.831363,0.863138,0.842701,0.874476,0.849299
123621,C_ID_6c46fc5a9d,-4.245847,-4.291674,-4.114940,-4.207530,-4.214998,-4.226688,-4.217487,-4.248350,-4.189439,...,-4.245847,-4.245847,-4.207530,-4.207530,-4.268760,-4.180393,-4.226688,-4.203307,-4.249602,-4.161235
123622,C_ID_87e7979a5f,0.145865,0.152181,0.145603,0.146806,0.147614,0.146335,0.147883,0.148284,0.146091,...,0.145865,0.146806,0.145865,0.146806,0.149023,0.145734,0.146335,0.148892,0.149493,0.146205

In [22]:
df_tmp.columns[5]

'all_mean'

In [27]:
for col in df_tmp.columns[5:]:
    print(col)
    df_tmp[['card_id',str(col)]].rename(columns={str(col):'target'}).to_csv(f"../submit_{col}.csv", index=False)

all_mean
all_median
owk_mean
owt_mean
okt_mean
wkt_mean
owk_median
owt_median
okt_median
wkt_median
ow_mean
ok_mean
ot_mean
wk_mean
wt_mean
kt_mean

In [38]:
sub = pd.read_csv('../submit_score.csv')

In [39]:
sub['difference'] = sub['Public Score'] - sub['Private Score']
sub

   Submission and Description  Private Score  Public Score  difference
0          submit_kt_mean.csv        3.61478       3.69637     0.08159
1          submit_wt_mean.csv        3.61467       3.69617     0.08150
2          submit_ok_mean.csv        3.61468       3.69680     0.08212
3          submit_ot_mean.csv        3.61471       3.69684     0.08213
4          submit_ow_mean.csv        3.61455       3.69658     0.08203
5          submit_wk_mean.csv        3.61463       3.69613     0.08150
6       submit_wkt_median.csv        3.61462       3.69612     0.08150
7         submit_wkt_mean.csv        3.61465       3.69618     0.08153
8       submit_okt_median.csv        3.61487       3.69674     0.08187
9         submit_okt_mean.csv        3.61468       3.69663     0.08195
10      submit_owt_median.csv        3.61458       3.69655     0.08197
11        submit_owt_mean.csv        3.61461       3.69650     0.08189
12      submit_owk_median.csv        3.61455       3.69647     0.08192
13        submit_owk_mean.csv        3.61457       3.69646     0.08189
14        submit_all_mean.csv        3.61460       3.69642     0.08182
15      submit_all_median.csv        3.61462       3.69643     0.08181
16                   oshikiri        3.61470       3.69736     0.08266
17                      kawai        3.61497       3.69654     0.08157
18                  taniguchi        3.61490       3.69649     0.08159
19                   watanabe        3.61462       3.69602     0.08140

In [40]:
sub[sub['Public Score']==sub['Public Score'].min()]

   Submission and Description  Private Score  Public Score  difference
19                   watanabe        3.61462       3.69602      0.0814

In [41]:
sub[sub['Private Score']==sub['Private Score'].min()]

   Submission and Description  Private Score  Public Score  difference
4          submit_ow_mean.csv        3.61455       3.69658     0.08203
12      submit_owk_median.csv        3.61455       3.69647     0.08192

In [42]:
sub[sub['difference']==sub['difference'].min()]

   Submission and Description  Private Score  Public Score  difference
19                   watanabe        3.61462       3.69602      0.0814